TaxesProjecte/Service References/GovernmentService/GV_Servis3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGovermentDebt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GovermentDebt" nillable="true" type="tns:GovermentDebt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGovermentDebt" nillable="true" type="tns:ArrayOfGovermentDebt" />
  <xs:complexType name="GovermentDebt">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="isPayed" type="xs:boolean" />
      <xs:element minOccurs="0" name="kindOfdebt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paid" type="xs:decimal" />
      <xs:element minOccurs="0" name="paid_time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GovermentDebt" nillable="true" type="tns:GovermentDebt" />
</xs:schema>