TaxesProjecte/Service References/GovernmentService/GV_Servis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GV_Servis" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55051/GV_Servis.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55051/GV_Servis.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55051/GV_Servis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGV_Servis_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IGV_Servis_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IGV_Servis_GetUsersDataByTcNo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersDataByTcNo" />
  </wsdl:message>
  <wsdl:message name="IGV_Servis_GetUsersDataByTcNo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersDataByTcNoResponse" />
  </wsdl:message>
  <wsdl:portType name="IGV_Servis">
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGV_Servis/Delete" message="tns:IGV_Servis_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGV_Servis/DeleteResponse" message="tns:IGV_Servis_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersDataByTcNo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGV_Servis/GetUsersDataByTcNo" message="tns:IGV_Servis_GetUsersDataByTcNo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGV_Servis/GetUsersDataByTcNoResponse" message="tns:IGV_Servis_GetUsersDataByTcNo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttp" type="tns:IGV_Servis">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IGV_Servis/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersDataByTcNo">
      <soap:operation soapAction="http://tempuri.org/IGV_Servis/GetUsersDataByTcNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GV_Servis">
    <wsdl:port name="BasicHttp" binding="tns:BasicHttp">
      <soap:address location="http://localhost:55051/GV_Servis.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>